body{
    background: linear-gradient(90deg, rgba(91,152,57,1) 0%, rgba(134,186,90,1) 7%, rgba(34,121,9,0.87718837535014) 46%, rgba(33,92,61,1) 100%);
    margin: o;
    align-content: center;
}

h1{
    color: rgb(72, 163, 84);
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{
    color: rgb(75, 96, 219);
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}